.buildout_downloads
.installed.cfg
*~
/bin/
_env
bootstrap.py
develop-eggs
eggs
src/*.egg-info
logs
./data
parts
*.pyc
*.pid
*.swp
*.egg
.pydevproject*
build/
.metadata/
.coverage
htmlcov/
/.wheelhouse/
/.prov_tools_wheelhouse/
/prov_tools_wheelhouse/
/ellis_wheelhouse/
coverage.xml
