Source: ellis
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: ellis
Architecture: any
Depends: clearwater-infrastructure, mysql-server, libgmp10, python-setuptools, python-virtualenv, monit
Suggests: clearwater-logging, clearwater-snmpd
Description: ellis, the user/number management interface
